body {
  text-align: center;
  margin-top: 10%;
}

.pyramid {
  margin: 20px auto; /* Adjust the margin as needed */
}

.row {
  display: flex;
  justify-content: center;
}

.prime {
  color: rgb(255, 0, 0); /* Add your preferred styling for prime numbers */
}