body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.text-container {
    width: 750px; /* Set your desired width */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    font-size: larger;
    border: solid gray;
    /* border-radius: 10%; */
    color: rgb(36, 33, 33); 
    background-color: burlywood;
  }
  

.container {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 930px;
    border: solid black;
    margin: 10px;
}

.left-side {
  /* background-color: #77683d; */
  background-image: url(./assets/image/symbol-scatter-haikei.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-side {
  background-color: #142e48;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-image1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.circle-image2 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 60px;
  position: absolute;
  top:36%;
  left:81%;
  transform:translate(-50%, -50%) ;
z-index: 9999;
}
.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}






/*  tab  */






/* Flex container styles */
.tab-container {
    display: flex;
    flex-direction: row; /* Items are arranged in a row */
    flex-wrap: wrap; /* Allow items to wrap to new rows, because the  */
    width:75%;
    
  
  }
  
  /* Tab label styles */
  .tab-label {
    flex-grow: 1; /* Labels grow to fill remaining space in the row */
    display: inline-block;
    padding: 10px 20px;
    background-color: #9e4848;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translateY(0);
    /* margin-left: -3rem; */
    padding-left: 3rem;
    text-align: center;
  }
  
  
  /* Tab content styles */
  .tab-content {
    display: none; /* Hide tab content by default */
    padding: 20px;
    border: 1px solid lightgray;
    /* border-radius: 10%; */
    order: 1; /* Initial order value for tab content */
    flex-basis: 100%; /* Content takes up full width in its own row */
  }
  
  /* Styles for the selected tab */
  input[type="radio"]:checked + .tab-label {
    /* background-color: rgb(96, 63, 63); */
    box-shadow: 0 -4px 4px silver;
    transform: translateY(4px);
   
    
  }
  input[type="radio"] {
    transition: all 0.2s ease;
    transform: translateY(0);
  }
  input[type="radio"]:checked  {
    transform: translateY(4px);
  }
  
  input[type="radio"]:checked + .tab-label + .tab-content {
    display: block; /* Display the selected tab content */
    order: 2; /* Order value for selected tab content */
  }
  
  input[type="radio"]:focus + .tab-label,
  input[type="radio"]:focus-visible + .tab-label {
    outline: 2px solid blue;
    outline-offset: -2px;
  }
  
  /* Hide the radio buttons */
  input[type="radio"] {
    width: 1rem;
    margin: 0 1rem;
    z-index: 1;
    outline: 0;
    display: none;
  }
 

  
  body {
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  }



  /* login registration css */

.tab-content.input-group
{
  top:180px;
  position:absolute;
  width:280px;
  transition:0.5s; 
}
.input-field
{
  width:100%;
  padding:10px;
  margin:5px 0;
  border-left:0;
  border-top:0;
  border-right:0;
  border-bottom:1px solid #999;
  outline:none;
  background:transparent;
  color: beige;
}
.submit-btn
{
  width:85%;
  padding:10px 30px;
  cursor:pointer;
  display:block;
  margin:auto;
  background:linear-gradient(to right, #ff105f, #ffad06);
  border:0;
  outline:none;
  border-radius:30px;
}
.check-box
{
  margin:30px 10px 30px 0;
}

/* span
{
  color:#954646;
  font-size:12px;
  bottom:68px;
  position:absolute;
} */
#login
{
  left:50px;
}
#register
{
  left:450px;
}